setuptools
cython==0.29.14
# comet_ml==3.1.11
numpy==1.18.1
spacy==2.2.0
transformers==2.11.0
sacrebleu==1.4.4
torch==1.5.1
torchvision
fairseq==0.9.0
python-Levenshtein==0.12.0
allennlp==1.0.0
allennlp-models==1.0.0

# Required for automatic mixed precision (AMP) training
git+https://github.com/NVIDIA/apex.git@master
